version: '2'

options:
  verbose: true

syncs:
  spryker-sync:
    src: 'PATH_TO_SOURCE'
    sync_excludes: ['EXCLUDE_1', '...', 'EXCLUDE_N']
    sync_userid: '33'
    sync_groupid: '33'
    sync_args:
      - "-prefer newer"
